<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.quickblox.q_municate"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.provider.MediaStore.Images.Media.EXTERNAL_CONTENT_URI" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.quickblox.qmunicate.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="com.quickblox.q_municate.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name="com.quickblox.q_municate.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.quickblox.q_municate.ui.splash.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.quickblox.q_municate.ui.authorization.landing.LandingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.quickblox.q_municate.ui.authorization.login.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/lgn_login"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.quickblox.q_municate.ui.authorization.signup.SignUpActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/sup_sign_up"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.quickblox.q_municate.ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:icon="@drawable/actionbar_logo" />
        <activity
            android:name="com.facebook.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.quickblox.q_municate.ui.friends.FriendDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/frd_title"
            android:parentActivityName="com.quickblox.q_municate.ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.quickblox.q_municate.ui.mediacall.CallActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName="com.quickblox.q_municate.ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.chats.dialogs.NewDialogActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/ndl_title"
            android:parentActivityName="com.quickblox.q_municate.ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.quickblox.q_municate.ui.chats.PrivateDialogActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName="com.quickblox.q_municate.ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.quickblox.q_municate.ui.chats.GroupDialogActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName="com.quickblox.q_municate.ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.quickblox.q_municate.ui.chats.GroupDialogDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/gdd_title"
            android:parentActivityName="com.quickblox.q_municate.ui.chats.GroupDialogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.quickblox.q_municate.ui.profile.ProfileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/prf_title"
            android:parentActivityName="com.quickblox.q_municate.ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.quickblox.q_municate.ui.chats.AddFriendsToGroupActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/afg_title"
            android:parentActivityName="com.quickblox.q_municate.ui.chats.GroupDialogDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.quickblox.q_municate.ui.settings.ChangePasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/cpw_change_password_title"
            android:parentActivityName="com.quickblox.q_municate.ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.quickblox.q_municate.ui.forgotpassword.ForgotPasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/fpw_forgot_password_title"
            android:parentActivityName="com.quickblox.q_municate.ui.authorization.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.quickblox.q_municate.ui.agreements.UserAgreementActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/uag_user_agreement_title"
            android:parentActivityName="com.quickblox.q_municate.ui.authorization.signup.SignUpActivity"
            android:screenOrientation="portrait" />

        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name="com.quickblox.q_municate.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.quickblox.qmunicate" />
            </intent-filter>
        </receiver>

        <service android:name="com.quickblox.q_municate.GCMIntentService" />
        <service
            android:name="com.quickblox.q_municate_core.service.QBService"
            android:icon="@drawable/ic_launcher" />

        <provider
            android:name="com.quickblox.q_municate_core.db.DatabaseProvider"
            android:authorities="com.qmun.quickblox"
            android:exported="false" />
        <meta-data android:name="com.crashlytics.ApiKey" android:value="7aea78439bec41a9005c7488bb6751c5e33fe270"/>

    </application>

</manifest>
