<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quickblox.qmunicate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.provider.MediaStore.Images.Media.EXTERNAL_CONTENT_URI" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Access to  device info-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 4. Declare and use a custom permission so only this application can receive GCM messages.
     This permission must be called my_app_package.permission.C2D_MESSAGE
     (where my_app_package is the package name of your app as defined by the manifest tag),
     otherwise it will not work. -->
    <permission
        android:name="com.quickblox.qmunicate.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.quickblox.qmunicate.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 5. Add the following permissions: -->
    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />


    <application
        android:name="com.quickblox.qmunicate.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.splash.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.landing.LandingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/lgn_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.signup.SignUpActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/lnd_sign_up"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.friend.FriendDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/frd_title"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.videocall.VideoCallActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.voicecall.VoiceCallActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.newchat.NewChatActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.privatechat.PrivateChatActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.groupchat.GroupChatActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.groupchat.GroupChatDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/gcd_title"
            android:parentActivityName=".ui.groupchat.GroupChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/prf_title"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- GCM (Push Notifications) setup: http://developer.android.com/google/gcm/gs.html#android-app -->

        <!-- 1. Add the following broadcast receiver.
        Notice that android:name in the category tag must be replaced by your application's package name -->
        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.quickblox.qmunicate" />
            </intent-filter>
        </receiver>

        <!-- 2. Add the following intent service: -->
        <service android:name=".GCMIntentService" />

        <service
            android:name=".service.QBService"
            android:icon="@drawable/ic_launcher" />
    </application>

</manifest>
