<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quickblox.qmunicate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.provider.MediaStore.Images.Media.EXTERNAL_CONTENT_URI" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.quickblox.qmunicate.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.splash.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.landing.LandingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/lgn_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.signup.SignUpActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/wlc_sign_up"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.friend.FriendDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/frd_title"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.videocall.VideoCallActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.voicecall.VoiceCallActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.chats.NewChatActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/nch_title"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.chats.GroupChatActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.chats.PrivateChatActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.chats.GroupChatDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/gcd_title"
            android:parentActivityName=".ui.chats.GroupChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/prf_title"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service
            android:name=".service.ChatService"
            android:enabled="true"
            android:exported="false"></service>

    </application>
</manifest>
